h1{
	font-size: 1.5em;
}

h2{
	font-size: 1.35em
}

footer{
	text-align: center;
	font-size: 0.7em;

	position: absolute;
	bottom: 0em;
	left: 0;
	right: 0;

	margin-left: auto;
	margin-right: auto;
}

.section{
	min-width: 350px;
	max-width: 800px;
	width: 35%;

	min-height: 200px;
	height: 80%;

	position: relative;
	top: 2em;
	bottom: 0;
	left: 0;
	right: 0;

	margin-left: auto;
	margin-right: auto;

	border: 1px solid #000;
	border-radius: 10px;
}

body{
	text-align: center
}